<!DOCTYPE html>
{% load crispy_forms_tags %}
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <style>
        .asteriskField {
            display: none;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="/">PyBlog</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/new/post">Create a Blog Post</a>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/my/blogs">My Blogs</a>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style='background-image:url("{% static 'assets/img/blog_writing.jpg' %}");'>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1>Edit Blog</h1><span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<hr>
<section class="getintouch">
    <div class="container modern-form">
        <div class="text-center">
            <h4 style="color: #212529;font-size: 45px;">Edit A Blog</h4>
        </div>
        <hr class="modern-form__hr">
        <form method="post">
            {% csrf_token %}
            {{ form.heading }}<br>
            {{ form.media }}
            {{ form.blog }}
            <div class="form-row">
                <div class="col text-center">
                    <button class="btn btn-primary submit-now" type="submit">Submit Now</button>
                    <br>
                </div>
            </div>
        </form>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <a href="https://stackoverflow.com/users/13780862/sahil-asopa">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                                class="fa fa-circle fa-stack-2x"></i><i
                                class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i></span></li>
                    </a>
                    <a href="https://www.instagram.com/pip_install_programming/">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                                class="fa fa-circle fa-stack-2x"></i><i
                                class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></li>
                    </a>
                    <a href="https://github.com/sahilasopa">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                                class="fa fa-circle fa-stack-2x"></i><i
                                class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                    </a>
                </ul>
                <p class="text-muted copyright">Copyright&nbsp;©&nbsp;PyBlog 2020</p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/clean-blog.js' %}"></script>
</body>
</html>
